[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "featurefinder"]
	path = featurefinder
	url = https://github.com/cran/featurefinder
